.sidebarFilterOuterContainer {
	flex-basis: 250px;
	padding: 0.5rem;
	flex-shrink: 0;
	position: sticky;
	top: 1rem;

	height: calc(100vh - 6rem);
	overflow-y: scroll;
	/* padding-top: 0.25rem; */
	/* background-color: var(--lighter-brown); */

	border-radius: 10px;
}
/* .sidebarCard{
	background-color: hotpink;
} */
.sidebarHeader {
	display: flex;
	font-weight: bold;
}
.sidebarHeader p:last-child {
	margin-left: auto;
}
.sidebarItems {
	display: flex;
	flex-direction: column;
}
.sidebarItems p {
	padding: 1rem 0;
	font-weight: bold;
}
.sidebarPriceRangeLabel {
	display: flex;
	justify-content: space-between;
	/* padding-bottom: 0.25rem; */
}
.priceRangeInputContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.8rem;
}
.priceRangeInputContainer input {
	color: var(--primary-color);
}

/* scrollbar css */
.slider {
	width: 100%;
	outline: none;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: var(--light-brown);
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: var(--brown);
}
.cursor-pointer {
	cursor: pointer;
}
