:root {
	margin: 0px;
	--text-color: #0e090b;
	--secondary-color: #a7978a;
	--primary-color: #3f332d;
	--background-color: #f7f7f7;
	--darkest-brown: #1e1318;
	--darker-brown: #3f332d;
	--brown: #6c615c;
	--light-brown: #a7978a;
	--lighter-brown: #cfc7c3;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
.cursor-pointer {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: var(--light-brown);
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: var(--brown);
}
.cursor-pointer {
	cursor: pointer;
}

.App {
	font-family: sans-serif;
	text-align: center;
}
